@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,600;1,400&display=swap');

body {
    margin: 50px;
    background: linear-gradient(red, greenyellow);
    font-family: 'Roboto Mono', monospace;
}

.header {
    margin-top: 50px;
}

.card {
    width: 80%;
    margin: 0 auto;
}